RewriteEngine on
RewriteCond %{THE_REQUEST} ^GET\ .*/index\.(php|html)\ HTTP
RewriteRule ^(.*)index\.(php|html)$ /$1 [R=301,S]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ $1 [L]

RewriteRule ^(.*)$ index.php?p=$1 [QSA]

<IfModule mod_expires.c>

# Enable expirations
ExpiresActive On

# Default directive
ExpiresDefault "access plus 1 year"

# My favicon
ExpiresByType image/x-icon "access plus 1 year"

# Images
ExpiresByType image/gif  "access plus 1 year"
ExpiresByType image/png  "access plus 1 year"
ExpiresByType image/jpg  "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"

# CSS
ExpiresByType text/css "access 1 week"

# Javascript
ExpiresByType application/javascript "access plus 1 week"
ExpiresByType text/javascript        "access plus 1 week"

</IfModule>